{% extends 'website/base.html' %}
{% block content %}

<h1>Flange Estimating</h1>
<h4>Intended for use where Piping Standard ASME B31.3 code is applicable</h4></br>

<div class="container">
    <form id="designForm" method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputDesignTemp">Enter Design Temperature (°C)</label>
            <input type="text" class="form-control" id="inputDesignTemp" name="inputDesignTemp" placeholder="°C" style="max-width: 300px;">
        </div>
        <div class="form-group">
            <label for="inputDesignPress">Enter Design Pressure (barg)</label>
            <input type="text" class="form-control" id="inputDesignPress" name="inputDesignPress" placeholder="barg" style="max-width: 300px;">
        </div><br/>
        <button type="submit" class="btn btn-outline-secondary">Calculate</button>
    </form>

    <br/><br/>
    <div id="flangeTableContainer" class="d-inline-block">
        <!-- The table will be updated via JavaScript -->
    </div>
</div>
</br>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $('#designForm').on('submit', function(e) {
        e.preventDefault(); // Prevent the form from submitting the traditional way

        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function(response) {
                $('#flangeTableContainer').html(response.table_html);
            },
            error: function(xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    });
});
</script>

{% endblock %}
